In [1]:
setwd("~/projects/next_gen_attribution/src/analysis/R/pg")

source("~/R_connector/libraries.R")
#mozart <- connToEDW(dataBase = "Mozart", connType = 'normal', user = 'pgurican', pass=trimws(read_file("~/R_connector/p.txt")))
hopper <- connToEDW(dataBase = "Hopper", connType = 'normal', user = 'pgurican', pass=trimws(read_file("~/R_connector/p.txt")))

Loading required package: DBI
Loading required package: rJava
------------------------------------------------------------------------------
data.table + dplyr code now lives in dtplyr.
Please library(dtplyr)!
------------------------------------------------------------------------------

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘tidyr’

The following object is masked from ‘package:magrittr’:

    extract

In [13]:
q <-  "select pblshr_id as pblshr_id, 
group_id, 
count(*) as no_clicks
from p_flex_pool_t.ams_clicks_on_test
group by PBLSHR_ID, group_id
"

counts_publishers <- dbGetQuery(conn = hopper, q)

In [29]:
counts_publishers %<>% arrange(desc(no_clicks), pblshr_id, group_id) %>% filter(group_id >= 0)

In [30]:
head(counts_publishers)

  pblshr_id  group_id no_clicks
1 5574971870 1        261512
2 5574862062 1         63654
3 5574862062 0         47684
4 5575086808 1         45465
5 5574867444 1         35749
6 5575086808 0         35005

In [35]:
counts_publishers %<>% spread(key = pblshr_id, value = no_clicks, fill = 0) %>% 
    gather(pblshr_id, no_clicks, -group_id, convert = TRUE) %>% 
    arrange(desc(no_clicks), pblshr_id, group_id)

In [37]:
eligible_publishers <- (counts_publishers %>% group_by(pblshr_id) %>% summarise(no_clicks = sum(no_clicks)) %>% filter(no_clicks >= 5000))$pblshr_id

In [40]:
top_publishers <- paste(eligible_publishers, sep = "", collapse = ", ")

In [44]:
q2 <- paste("
select 
click_id,
crltn_guid_txt as cguid,
pblshr_id,
ams_pblshr_cmpgn_id,
click_dt,
group_id

from PRS_AMS_V.AMS_CLICK A
inner join P_FLEX_POOL_T.RAS_impressions_cguids B
ON A.crltn_guid_txt = B.cguid

where click_dt between \'2017-06-01\' and \'2017-09-30\'
and pblshr_id in (",
top_publishers, ")", sep = "")

In [43]:
epn_sessions <- dbGetQuery(conn = hopper, q2)

ERROR: Error in .verify.JDBC.result(r, "Unable to retrieve JDBC result set for ", : Unable to retrieve JDBC result set for
select
click_id,
crltn_guid_txt as cguid,
pblshr_id,
ams_pblshr_cmpgn_id,
click_dt,
group_id

from PRS_AMS_V.AMS_CLICK A
inner join P_FLEX_POOL_T.RAS_impressions_cguids B
ON A.crltn_guid_txt = B.cguid

where click_dt between '2017-08-27' and '2017-09-03'
where pblshr_id in (5574635388, 5574672411, 5574717700, 5574735181, 5574862062, 5574867444, 5574959657, 5574971870, 5575023613, 5575023814, 5575086808, 5575089079, 5575153109, 5575154502, 5575176189, 5575219704, 5575279547)
 ([Teradata Database] [TeraJDBC 15.10.00.14] [Error 3733] [SQLState 42000] The SELECT has more than one WHERE clause.)